# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

*~
.gclient
.gclient_entries
build
Example/Pods/Pods.xcodeproj/xcuserdata
Example/Pods/Target Support Files
Example/pjsip-ios.xcodeproj/xcuserdata
Example/pjsip-ios.xcworkspace/xcuserdata
Example/Pods/Headers/Public
